<!DOCTYPE html>
<html>
	<head>
        <title>MSISDN Gateway Server</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<style type="text/css">
		html {
			background: rgb(251, 246, 226);
		}
		</style>	
    </head>
    <body>
        <p>
            This is the MSISDN Gateway server.

            You probably don't want to login to this like a normal BrowserID IdP.
            See <a href="https://github.com/mozilla-services/msisdn-gateway/">
                https://github.com/mozilla-services/msisdn-gateway/
            </a> for more details.
        </p>
    </body>
</html>
